@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(linear-gradient(to right, #05EDE3, #645FFB));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-style {
  @apply w-full h-[2.3rem] rounded-[5px] border border-[#555555] p-2;
  outline: none;
}

.primary-button {
  @apply bg-[#6460FB] rounded-[5px] w-52 h-10 text-white;
}